.contact-form input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form input[type=submit]:hover {
    background-color: #45a049;
}

.contact-form {
    width: 330px;
    margin-right: 200px;
    padding: 20px;
    /*margin: auto;*/
    float: right;
}


/*
* Form thêm video
*/

.add-video-form input[type=text], select, textarea {
    /*width: 100%;*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /*margin-bottom: 16px;*/
    resize: vertical;
    font-family: sans-serif;
}

.add-video-form input[type=submit] {
    background-color: #00AD07;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-video-form input[type=submit]:hover {
    background-color: #45a049;
}

.add-video-form input[type=button] {
    background-color: #00AD07;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
}

.add-video-form input[type=button]:hover {
    background-color: #6CD967;
}

.add-video-form input[type=reset] {
    background-color: #F20649;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-video-form input[type=reset]:hover {
    background-color: #FE6698;
}

.add-video-form textarea {}

.add-video-form {
    width: auto;
}

.btnDel input[type=button] {
    background-color: #F20649;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 200;
    width: 300px;
    height: 20px;
}

.btnDel input[type=button]:hover {
    background-color: #FE6698;
}

.row {
    margin: 6px;
    padding: 2px;
}

label {
    float: left;
    width: 20%;
    padding-right: 5px;
}


/*.form-control input {
    border-radius: 2px;
    border: 1px solid gray;
}*/

.form-control textarea {
    border-radius: 2px;
    border: 1px solid gray;
    width: 70%;
    min-height: 200px;
}

.msg-error {
    color: red;
}

.msg-success {
    color: green;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}
.w-100{
    width: 100%;
}