body {
    font-family: sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;
    background-image: url("../rs/apple_mountain-wallpaper-1600x900.jpg");
    /*background: #1F1C1C;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: inline-block;
    transition: 1s;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

.global-container {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 0px;
}

.container {
    padding: 0px 30px 0px 30px;
}

.header {
    width: 100%;
    height: auto;
    float: left;
    display: block;
}

.top-bar {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    background: #192D70;
    color: white;
    float: left;
    position: relative;
    position: fixed;
    display: block;
}

.top-bar:hover {
    background: #010B6F;
    color: #000;
}

.main {
    height: auto;
    width: 100%;
    padding: 0px 30px 0px 0px;
    display: inline-block;
    float: left;
    clear: both;
    margin: 0px auto;
}

.homepage {
    /*background: #E8E8E8;*/
    width: 100%;
    min-height: 400px;
    height: auto;
    display: inline-block;
    min-width: 350px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 0px auto;
    /*border: 1px solid #FFFFFF;*/
}

.homepage:hover {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 243, 0.4);
    transition: 300ms ease-out;
}

.info-nav {
    width: 85%;
    margin: 0px auto;
}

.no-box-shadow:hover {
    box-shadow: none;
}

.homepage h2 {
    text-align: center;
}

.banner {
    /*margin-top: 50px;*/
    height: 250px;
    width: inherit;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    display: inline-block;
    /*float: left;*/
}

.banner span {
    text-align: center;
    float: left;
    display: inline-block;
}

#slogan {
    font-family: tahoma;
    font-size: 70px;
    color: #fff;
    margin-top: 30px;
}

.col1 {
    width: 650px;
    min-height: 300px;
    height: auto;
    float: left;
    display: block;
    border: 1px solid #E4E4E4;
    margin: 5px;
    border-radius: 2px;
    padding: 10px 10px 0px 10px;
}

.col2 {
    width: 300px;
    min-height: 300px;
    height: 330px;
    float: left;
    display: block;
    border: 1px solid #E4E4E4;
    margin: 5px;
    border-radius: 2px;
    color: #fff;
    position: relative;
    display: inline-block;
    margin: 0;
    border: none;
    margin-left: 1em;
}

.col2 span {
    padding: 10px 10px 0px 10px;
    display: inline-block;
    word-wrap: break-word;
}

.no-border {
    border: none;
}

.footer {
    position: relative;
    /*background: #AFECF2;*/
    /*padding: 5px 10px 5px 10px;*/
    color: #fff;
    min-height: 200px;
    height: auto;
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom: 0px;
}

.footer:hover {
    /*  box-shadow: 0 0 10px 5px rgba(84, 255, 243, 0.4);
    background: #108700;
    transition: 200ms ease-out;*/
}

.clear {
    clear: both;
}

.trans-background {
    background: rgba(0, 0, 0, 0.5);
}

.box-shadow {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 243, 0.4);
}

.content-container {
    position: relative;
    width: inherit;
    min-height: 300px;
    width: 290px;
    height: auto;
    background: rgb(18, 19, 21);
    transition: 0.5s;
    border-radius: 5px;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
    overflow: hidden;
    display: inline-block;
}

.content-container:hover {
    font-size: 16px;
    background: rgba(33, 44, 61, 1);
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 243, 0.4);
    transition: 300ms ease-out;
    /*border: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: none;
*/
}

.content-container h5 {
    padding: 5px;
}

.content {
    position: relative;
    display: inline-block;
    width: inherit;
    min-height: 200px;
    height: 250px;
    margin: 0px;
    float: left;
    z-index: 3;
    overflow: auto;
    margin: auto;
}


/*an scrollbar cho dep*/

.content::-webkit-scrollbar {
    display: none;
    /*chrome & safari*/
}

.content {
    -ms-overflow-style: none; // IE 10+
    overflow: -moz-scrollbars-none; // Firefox
    -moz-scrollbars-none;
    -webkit-scrollbar: none;
}


/*kiem soat noi dung fit voi tag*/

.content p {
    position: inherit;
    display: inline-block;
    word-wrap: break-word;
    display: inline-block;
    /*overflow-x: hidden;*/
    /*Required for text-overflow to do anything */
    /*text-overflow: ellipsis;*/
}


/*Kiem soat su hien thi cua block col*/

.content-container a {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: inherit;
    bottom: -10px;
    left: 0px;
    display: inline-block;
    word-wrap: break-word;
    height: 30px;
    text-align: center;
    transition: 0.3s;
    color: #000000;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 0px 0px 5px 5px;
    visibility: hidden;
    z-index: 2;
}


/*animation*/

.content-container:hover>a {
    background: rgb(255, 255, 255);
    visibility: visible;
    bottom: 0px;
    z-index: 4;
}


/*.mini-dock a {
    color: #000000;
    text-decoration: none;
}
*/

.content-container a:hover {
    background-color: #4CAF50;
    color: #ffffff;
    border-color: #4CAF50;
}

.visible {
    visibility: visible;
    transition: 1s;
}

.invisible {
    visibility: hidden;
}

.mini-dock:hover>a {
    /*color: #F7FAFA;*/
}

.sidenav {
    display: inline-block;
    float: left;
    width: 120px;
    background: inherit;
    position: fixed;
    z-index: 1000;
    top: 20px;
}

#mysidenav {}

#mySidenav a {
    text-decoration: none;
    color: white;
}

.sidenav-component {
    position: relative;
    left: -115px;
    transition: 0.3s;
    padding: 15px 20px 15px 20px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    float: left;
    margin-bottom: 10px;
}

.sidenav-component:hover {
    left: 0;
}

#about {
    /*top: 0px;*/
    background: #EB9C12;
}

#view {
    background: #1C6503;
}

#contact {
    background: #4A3237;
}

.mar-top10 {
    margin-top: 10px;
}

.logo-animation {
    width: 40px;
    height: 40px;
    /*background-color: red;*/
    position: inherit;
    border-radius: 100%;
    -webkit-animation-name: coolAnimation;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation-name: coolAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.text-animation {
    -webkit-animation-name: textAnimation;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation-name: textAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes coolAnimation {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
        top:
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}


/* Standard syntax */

@keyframes coolAnimation {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: red;
    }
}


/*color animation change*/

@-webkit-keyframes textAnimation {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: red;
    }
}


/* Standard syntax */

@keyframes textAnimation {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    75% {
        color: green;
    }
    100% {
        color: red;
    }
}


/*End Animation*/

.slogan {
    display: inline-block;
    /*float: left;  */
    width: 50%;
    margin: auto;
    align-content: center;
}

.logo-slogan {
    float: left;
    display: inline-block;
}

.logo-slogan span {
    margin-right: 20px;
    display: inline-block;
}

.center {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}


/*background image design block*/

div.about {
    background-image: url("../rs/iphone_and_ipad-wallpaper-1366x768.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    display: inline-block;
    float: left;
}

div.view {
    display: inline-block;
    height: auto;
    width: 100%;
    min-height: 300px;
    width: auto;
    background-color: #fff;
    color: #000;
    padding: 10px;
    text-align: justify;
}

.design-img-container {
    position: relative;
    display: inline-block;
    float: left;
    width: auto;
    float: left;
}

.about-content {
    position: relative;
    display: block;
    min-width: 200px;
    max-width: 750px;
    min-height: 350px;
    height: inherit;
    float: left;
    text-align: justify;
    word-wrap: break-word;
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
}

#design-img {
    position: relative;
    float: left;
    display: inline-block;
    margin: 0px 20px 0px 10px;
    z-index: 100;
}

#design-img img {
    width: 340px;
    height: 319px;
    border: 2px solid #ECECEC;
    position: absolute;
    transition: 500ms ease-in;
}

#design-img:active {
    border-radius: 5px;
    position: absolute;
    top: -10%;
    right: 70%;
    z-index: 101;
    /*right: 60px;*/
}

#design-img img:active {
    width: 420px;
    height: 401px;
    border: 2px solid #ECECEC;
    position: absolute;
}

.name-info {
    display: inline-block;
    bottom: -370px;
    left: 70px;
    height: 30px;
    width: 400px;
    position: absolute;
    z-index: 99;
}

.name-info span {
    text-align: center;
}

.visible {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.footer-col1 {
    position: relative;
    margin: 50px 50px 50px 100px;
    float: left;
}

.footer-col2 {
    position: relative;
    float: left;
    margin: 50px 10px 50px 10px;
    /*letter-spacing: 1px;*/
    word-spacing: 5px;
    word-wrap: break-word;
    text-align: justify;
}

.mini-add-video-box {
    width: 40%;
    /*background: #fff;*/
    display: block;
    float: left;
    padding: 10px;
}


/*mini list video frame at right side*/

.mini-lstvid-fr {
    display: block;
    width: 55%;
    margin-left: 10px;
    padding: 10px;
    float: left;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="mini-ad-video-box"] {
        width: 100%;
    }
}


/*MODAL*/


/* Modal Content/Box */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    padding-top: 50px;
    /* Location of the box */
    left: 0;
    bottom: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    color: black;
    transition: 0.5s;
}


/* Modal Content */
.modal-content-container{
    width: 100%;
    display: inline-block;
    margin: 10% auto;
    /*margin*/
}
.modal-content {
    /*position: relative;*/
    display: block;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index: 200;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*restore button*/

.restore {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-image: url("../rs/maximize-2-512.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 18px;
    height: 18px;
    bottom: -5px;
    position: relative;
    margin: 0 5px 0 5px;
    opacity: 0.5;
}

.restore:hover, .restore:focus {
    /*color: #000;*/
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}


/*Minimize button*/

.minimize {
    color: #aaaaaa;
    float: right;
    position: relative;
    top: -15px;
    margin-right: 5px;
    font-size: 28px;
    font-weight: bold;
}

.minimize:hover, .minimize:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*minize effect*/

.modal-mini {
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    /* Location of the box */
    left: 50px;
    bottom: 10px;
    width: auto;
    display: inline-block;
    /* Full width */
    height: 40%;
    /* Full height */
    /*overflow: auto;*/
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0);
    * //* Black w/ opacity */
    color: black;
    /*transition effect*/
    transition: 0.5s;
}

.modal-mini .modal-content {
    padding: 10px;
    display: inline-block;
}


/*
* end modal 
*/