.pagination-frame {
    display: inline-block;
    float: left;
    width: 100%;
    /*background: #2EF085;*/
    padding: 5px;
}

.pagination {
    min-width: 20%;
    width: 30%;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.pagination-light a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    /*background: #E8E8E8;*/
}